<div>
    <h2>Name:</h2>
    <p><%= @category.name %></p>
</div>

<div>
    <h2>Description:</h2>
    <p><%= @category.description %></p>
</div>

<%= link_to 'Back to categories', categories_path, class: "btn-link-to"%>